@model halproject_core.DTO.PAKET
@{
    ViewBag.Title = "Paket Satın Al";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>PAKET SATIN AL</h2>
</header>

<div class="row">
    <div class="col-lg-4">
        <div class="card card-primary">
            <div class="card-header">
                <h4 class="card-title p-0 m-0">Paket Detayları</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="text-danger" style="font-size: 64px!important">@Html.Raw(Model.IKON)</h3>
                        <h4 class="h4">@Model.ADI</h4>
                        <p>@Html.Raw(Model.ACIKLAMA)</p>
                        <hr />
                        <h4 class="title"><b>Ödenecek Tutar</b><br />@String.Format("{0:0.00}", Model.FIYAT) TL </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        @Html.Action("_SatinAl", "Paket", new { id = Model.ID })
    </div>
</div>