@using exorderproject_core;
@model exorderproject_core.DTO.ALTBOLGE
@{
    Layout = null;
}

<div class="row justify-content-start">
    <div class="col-lg-9 col-12">
        <section class="card form-wizard" id="w2">
            @using (Ajax.BeginForm("EditF", "AltBolge", new { updateCode = UpdateCodes.URUN_GENEL.GetHashCode() }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success", UpdateTargetId = "myForm", InsertionMode = InsertionMode.Replace }, new { id = "myForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
            <div class="row form-group">
                @*<div class="col-lg-3 col-6">
            <div class="form-group">
                <label class="col-form-label"><b>Durum</b></label>
                @Html.DropDownList("DURUM_ID", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>*@
                <input type="hidden" value="@Model.REGIONS_C_ID" id="REGIONS_C_ID" name="REGIONS_C_ID" />
                <div class="col-lg-3 col-6">
                    <div class="form-group">
                        <label class="col-form-label"><b>Durum</b></label>
                        @Html.DropDownList("REGIONS_STATUS", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="form-group">
                        <label class="col-form-label"><b>Alt Bölge Adı</b></label>
                        @Html.TextBoxFor(m => m.REGIONS_NAME, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3 col-6">
                    <div class="form-group">
                        <label class="col-form-label"><b>Açıklama</b></label>
                        @Html.TextBoxFor(m => m.REGIONS_DESCRIPTION, new { @class = "form-control" })
                    </div>
                </div>
            </div>
                
                <div class="row form-group">
                    <div class="col-lg-12 text-right">
                        @Html.HiddenFor(m => m.REGIONS_ID)
                        @Html.HiddenFor(m => m.REGIONS_ID)
                        <button class="btn btn-primary" type="submit">Kaydet</button>
                    </div>
                </div>
            }
        </section>
    </div>
</div>